// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

$font-stack: Helvetica, sans-serif;
$primary-color: white;
$secondary-color: #313131;

//general
.underline {
  background-color: #098A5C;
}
html {
  background-color: #1E1E1E;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin-top: 57px;
  background-color: #313131;
}

ul {
  justify-content: left;
}

li {
  padding: 0 0.7rem;

  a {
    color: white;
    text-transform: capitalize;
    font-weight: 600;
  }
}

.container-lg {
  padding-top: 120px;
}

//nav

.navbar {
  background-color: black;
}

.dropdown-menu{background:rgba(0,0,0,0.5); color:white; }

.center {
  margin-top: 7px;
}

//section-1

.section-1-container {
  background-color: black;
  background-image: url("../images/background-1.png");
  background-size: cover;
  background-position: center;
}

.box {
  background-color: $secondary-color;
  width: 300px;
  height: 240px;
}

.text-size {
  font-size: 13px;
}

.green-line {
  width: 2px;
  margin: auto;
  margin-top: 10px;
  height: 50px;
  background-color: #098A5C;
}

//section-2

.section-2-container {
  background-color: #1E1E1E;
  width: 100%;
  padding-bottom: 70px;
}

.section-2-grid-container {
  padding-bottom: 70px;
}


.grid-section-2-card {
  background-color: $secondary-color;
  height: auto;
}

.box-green {
  background-color: #098A5C;
  height: auto;
}

.white-line {
  width: 100%;
  background-color: white;
  height: 6px;
}

.green-line-2 {
  width: 72px;
  height: 2px;
  margin-top: 24px;
  background-color: #098A5C;
}

.green-line-3 {
  width: 2px;
  height: 82px;
  background-color: #098A5C;
  margin: auto;
}

//section-3

.section-3-container {
  background-color: #313131;
}

.container-grid-works {
  width: 100%;
  background-color: #313131;
}

.img-works {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.green-line-4 {
  width: 2px;
  height: 82px;
  background-color: #098A5C;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

// Section-4 

.section-4-container {
  background-color: #1E1E1E;
}