// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

$font-stack: Helvetica, sans-serif;
$primary-color: white;
$secondary-color: #313131;
;


body {
  font: 100% $font-stack;
  color: $primary-color;
  margin-top: 57px;
}

ul {
  justify-content: left;
}

li {
  padding: 0 0.7rem;

  a {
    color: white;
    text-transform: capitalize;
    font-weight: 600;
  }
}

.section-1-container {
  background-color: black;
  background-image: url("/images/background-1.png");
  background-size: cover;
  background-position: center;
}

.box {
  background-color: $secondary-color;
  width: 300px;
  height: 240px;
}

.box-green {
  background-color: #098A5C;
  width: 300px;
  height: 240px;
}

.white-line {
  width: 100%;
  background-color: white;
  height: 6px;
  margin-top: 13px;
}

.section-2-container {
  background-color: #1E1E1E;
}

.navbar {
  background-color: black;
}

.container-lg {
  padding-top: 120px;
}

.text-size {
  font-size: 13px;
}