// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

$font-stack: Helvetica, sans-serif;
$primary-color: white;
$secondary-color: #313131;

//general
.underline {
  background-color: #098A5C;
}
html {

}

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin-top: 57px;
  background-color: #313131;
  --bs-gutter-x: 30px;
}

ul {
  justify-content: left;
}

li {
  padding: 0 0.7rem;

  a {
    color: white;
    text-transform: capitalize;
    font-weight: 600;
  }
}

.container-lg {
  max-width: 1090px;
  padding-top: 120px;
}

//nav

.navbar {
  background-color: black;
}

.dropdown-menu{background:rgba(0,0,0,0.5); color:white; }

.center {
  margin-top: 7px;
}

//section-1

.section-1-container {
  background-color: black;
  background-image: url("../images/background-1.png");
  background-size: cover;
  background-position: center;
}

.box {
  background-color: $secondary-color;
}

.text-size {
  font-size: 13px;
}

.green-line {
  width: 2px;
  margin: auto;
  height: 50px;
  background-color: #098A5C;
}

//section-2

.section-2-container {
  background-color: #1E1E1E;
  padding-bottom: 70px;
}

.grid-section-2-card {
  background-color: $secondary-color;
  height: auto;
  border-bottom: solid 6px white;
}

.box-green {
  background-color: #098A5C;
  height: auto;
  border-bottom: solid 6px white;
}

.green-line-2 {
  width: 72px;
  height: 2px;
  margin-top: 24px;
  background-color: #098A5C;
}

.green-line-3 {
  width: 2px;
  height: 82px;
  background-color: #098A5C;
  margin: auto;
  margin-top: 70px;
}

.col-padding {
  padding-right: 18px;
  padding-bottom: 14px;
}

.col-padding-2 {
  padding-right: 18px;
}

//section-3

.container-grid-works {
  width: 100%;
  background-color: #313131;
}

.img-works {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.green-line-4 {
  width: 2px;
  height: 82px;
  background-color: #098A5C;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn-section-3 {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

// Section-4 

.section-4-container {
  background-color: #1E1E1E;
  padding-bottom: 70px;
}

.section-4-col-padding {
  padding: 0;
  padding-right: 50px;
}

.section-4-row-padding {
  padding-top: 34px;
}

.section-4-borders {
  padding-right: 32px;
  border-right: solid 2px #098A5C;
}

.section-4-borders-2 {
  padding-left: 32px;
  padding-right: 32px;
  border-right: solid 2px #098A5C;
}

.section-4-borders-3 {
  padding-left: 32px;
}

.green-line-5 {
  width: 2px;
  height: 100%;
  background-color: #098A5C;
}
//section-5

.grid-section-5-card {
  background-color: #1E1E1E;
  height: auto;
}

.section-5-img {
  text-align: center;
}